<div>
    <div ng-show="homePage" class="page-home-page">
        <div class="container">
            <div class="kiev">
                <img src="https://w.bookcdn.com/weather/picture/31_18881_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img1" />
                <div class="icon_plus1">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="tirana">
                <img src="https://w.bookcdn.com/weather/picture/31_19594_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img2" />
                <div class="icon_plus2">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="andorra">
                <img src="https://w.bookcdn.com/weather/picture/31_18967_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img3" />
                <div class="icon_plus3">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="yerevan">
                <img src="https://w.bookcdn.com/weather/picture/31_19185_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img4" />
                <div class="icon_plus4">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="vienna">
                <img src="https://w.bookcdn.com/weather/picture/31_18180_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img5" />
                <div class="icon_plus5">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="baku">
                <img src="https://w.bookcdn.com/weather/picture/31_19309_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img6" />
                <div class="icon_plus6">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="minsk">
                <img src="https://w.bookcdn.com/weather/picture/31_17469_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img7" />
                <div class="icon_plus7">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="brussels">
                <img src="https://w.bookcdn.com/weather/picture/31_18068_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=199" alt="booked.net" id="img8" />
                <div class="icon_plus8">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="sarajevo">
                <img src="https://w.bookcdn.com/weather/picture/31_9665_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img9" />
                <div class="icon_plus9">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="sofia">
                <img src="https://w.bookcdn.com/weather/picture/31_18373_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img10" />
                <div class="icon_plus10">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="zagreb">
                <img src="https://w.bookcdn.com/weather/picture/31_2985_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img11" />
                <div class="icon_plus11">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="nicosia">
                <img src="https://w.bookcdn.com/weather/picture/31_9743_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img12" />
                <div class="icon_plus12">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="prague">
                <img src="https://w.bookcdn.com/weather/picture/31_18152_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img13" />
                <div class="icon_plus13">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="copenhagen">
                <img src="https://w.bookcdn.com/weather/picture/31_18846_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img14" />
                <div class="icon_plus14">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="tallinn">
                <img src="https://w.bookcdn.com/weather/picture/31_18176_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img15" />
                <div class="icon_plus15">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="helsinki">
                <img src="https://w.bookcdn.com/weather/picture/31_18332_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=48960" alt="booked.net" id="img16" />
                <div class="icon_plus16">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="paris">
                <img src="https://w.bookcdn.com/weather/picture/31_18145_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img17" />
                <div class="icon_plus17">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="tbilisi">
                <img src="https://w.bookcdn.com/weather/picture/31_18901_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img18" />
                <div class="icon_plus18">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="berlin">
                <img src="https://w.bookcdn.com/weather/picture/31_18056_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img19" />
                <div class="icon_plus19">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="athens">
                <img src="https://w.bookcdn.com/weather/picture/31_18328_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img20" />
                <div class="icon_plus20">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="budapest">
                <img src="https://w.bookcdn.com/weather/picture/31_18069_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img21" />
                <div class="icon_plus21">
                   <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="reykjavik">
                <img src="https://w.bookcdn.com/weather/picture/31_18345_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img22" />
                <div class="icon_plus22">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="dublin">
                <img src="https://w.bookcdn.com/weather/picture/31_18082_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img23" />
                <div class="icon_plus23">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="rome">
                <img src="https://w.bookcdn.com/weather/picture/31_18087_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img24" />
                <div class="icon_plus24">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="astana">
                <img src="https://w.bookcdn.com/weather/picture/31_11233_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img25" />
                <div class="icon_plus25">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="pristina">
                <img src="https://w.bookcdn.com/weather/picture/31_34807_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img26" />
                <div class="icon_plus26">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="riga">
                <img src="https://w.bookcdn.com/weather/picture/31_18604_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img27" />
                <div class="icon_plus27">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="vadus">
                <img src="https://w.bookcdn.com/weather/picture/31_19760_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img28" />
                <div class="icon_plus28">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="vilnius">
                <img src="https://w.bookcdn.com/weather/picture/31_18341_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img29" />
                <div class="icon_plus29">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="luxembourg">
                <img src="https://w.bookcdn.com/weather/picture/31_18320_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img30" />
                <div class="icon_plus30">
                    <p class="add_to">Add to:</p>
                    <p>Your places</p>
                    <p>Wish places</p>
                    <p>Visited places</p>
                </div>
            </div>

            <div class="skopje">
                <img src="https://w.bookcdn.com/weather/picture/31_3000_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img31" />
                <div class="icon_plus31">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="valetta">
                <img src="https://w.bookcdn.com/weather/picture/31_10799_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img32" />
                <div class="icon_plus32">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="chisinau">
                <img src="https://w.bookcdn.com/weather/picture/31_17412_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img33" />
                <div class="icon_plus33">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="monteCarlo">
                <img src="https://w.bookcdn.com/weather/picture/31_7034_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img34" />
                <div class="icon_plus34">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="podgorica">
                <img src="https://w.bookcdn.com/weather/picture/31_26922_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23312" alt="booked.net" id="img35" />
                <div class="icon_plus35">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="amsterdam">
                <img src="https://w.bookcdn.com/weather/picture/31_18051_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img36" />
                <div class="icon_plus36">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="oslo">
                <img src="https://w.bookcdn.com/weather/picture/31_18503_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img37" />
                <div class="icon_plus37">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="warsaw">
                <img src="https://w.bookcdn.com/weather/picture/31_326_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img38" />
                <div class="icon_plus38">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="lisbon">
                <img src="https://w.bookcdn.com/weather/picture/31_18257_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img39" />
                <div class="icon_plus39">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="bucharest">
                <img src="https://w.bookcdn.com/weather/picture/31_18294_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img40" />
                <div class="icon_plus40">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="moscow">
                <img src="https://w.bookcdn.com/weather/picture/31_18171_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img41" />
                <div class="icon_plus41">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="sanMarino">
                <img src="https://w.bookcdn.com/weather/picture/31_19554_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img42" />
                <div class="icon_plus42">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="belgrade">
                <img src="https://w.bookcdn.com/weather/picture/31_2997_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img43" />
                <div class="icon_plus43">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="bratislava">
                <img src="https://w.bookcdn.com/weather/picture/31_67_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img44" />
                <div class="icon_plus44">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="ljubljana">
                <img src="https://w.bookcdn.com/weather/picture/31_2983_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img45" />
                <div class="icon_plus45">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl" onclick="saveplace()" id="saveplace">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="madrid">
                <img src="https://w.bookcdn.com/weather/picture/31_18119_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img46" />
                <div class="icon_plus46">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="stockholm">
                <img src="https://w.bookcdn.com/weather/picture/31_34820_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img47" />
                <div class="icon_plus47">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="bern">
                <img src="https://w.bookcdn.com/weather/picture/31_18815_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img48" />
                <div class="icon_plus48">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="ankara">
                <img src="https://w.bookcdn.com/weather/picture/31_18522_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img49" />
                <div class="icon_plus49">
                    <p class="add_to">Add to:</p>
                    <p>Your places</p>
                    <p>Wish places</p>
                    <p>Visited places</p>
                </div>
            </div>

            <div class="london">
                <img src="https://w.bookcdn.com/weather/picture/31_18114_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img50" />
                <div class="icon_plus50">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

            <div class="vatican">
                <img src="https://w.bookcdn.com/weather/picture/31_w256092_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=23398" alt="booked.net" id="img51" />
                <div class="icon_plus51">
                    <p class="add_to">Add to:</p>
                    <div class="yourpl">
                        <p>Your places</p>
                    </div>
                    <div class="wishpl">
                        <p>Wish places</p>
                    </div>
                    <div class="visitpl">
                        <p>Visited places</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="favouritePage" class="page-fav-page">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="myBtn">Tab to view</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">Close</span>
                    <h2>Your Places</h2>
                </div>
                <div class="modal-body">

                </div>

            </div>

        </div>

    </div>

    <div ng-show="wishPage" class="page-wish-page">

        <div class="places-want-to-visit">
            <p>Places which you want to visit</p>
        </div>
        <div class="visited-places">
            <p>Visited places</p>
        </div>

    </div>

</div>
